<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.vegi.admin.mapper.AdminMapper">

	<select id="adminMemberSelect" resultType="MemberVo">
		<!-- 관리자 멤버 전체 조회 -->
		SELECT a.*
		FROM ( SELECT b.*, ROWNUM rn
		FROM
		(SELECT *
		FROM member
		<where>
			<if test="keyword != null and keyword != '' ">
				AND LOWER(m_name) like LOWER('%' || #{keyword} || '%')
				OR
				LOWER(m_id) like LOWER('%' || #{keyword} || '%')
			</if>
			<if test=" available != null and available != '' ">
				AND LOWER(available) = LOWER(#{available )
			</if>
		</where>
		) b
		) a
		WHERE rn BETWEEN #{start } AND #{end }
	</select>

	<select id="countMember" resultType="Integer">
		<!-- 회원 목록 페이징에 카운트하는 부분 -->
		SELECT count(*)
		FROM member
		<where>
			<if test="keyword != null and keyword != '' ">
				AND LOWER(m_name) like LOWER('%' || #{keyword} || '%')
				OR
				LOWER(m_id) like LOWER('%' || #{keyword} || '%')
			</if>
			<if test=" available != null and available != '' ">
				AND LOWER(available) = LOWER(#{available} )
			</if>
		</where>
	</select>

	<update id="changAvailable" parameterType="MemberVo">
		<!-- 회원 이용현황 변경 -->
		UPDATE MEMBER SET AVAILABLE = #{available} WHERE m_id = #{mId}
	</update>


	<select id="adminRestaurant" resultType="RestaurantVo">
		<!-- 관리자 식당 전체 조회 -->
		SELECT a.*
		FROM ( SELECT b.*, ROWNUM rn
		FROM
		(SELECT *
		FROM restaurant
		<where>
			<if test="keyword != null and keyword != '' ">
				AND LOWER(rest_name) like LOWER('%' || #{keyword} || '%')
				OR LOWER(rest_id) like LOWER('%' || #{keyword} || '%')
			</if>
			<if test=" adminConfirm != null and adminConfirm != '' ">
				AND LOWER(admin_confirm) = LOWER( #{adminConfirm} )
			</if>
		</where>
		) b
		) a
		WHERE rn BETWEEN #{start } AND #{end }
	</select>


	<select id="countAdminRestaurant" resultType="Integer">
		<!-- 식당 목록 페이징에 카운트하는 부분 -->
		SELECT count(*)
		FROM restaurant
		<where>
			<if test="keyword != null and keyword != '' ">
				AND LOWER(rest_name) like LOWER('%' || #{keyword} || '%')
				OR LOWER(rest_id) like LOWER('%' || #{keyword} || '%')
			</if>
			<if test=" adminConfirm != null and adminConfirm != '' ">
				AND LOWER(admin_confirm) = LOWER( #{adminConfirm} )
			</if>
		</where>
	</select>


	<select id="adminBegiMeetReportList" resultType="ReportVo">
		<!-- 챌린지 신고목록 전체 조회 -->
		SELECT a.*
		FROM ( SELECT b.*, ROWNUM rn
		FROM
		(SELECT *
		FROM report
		<where>
			<if test="keyword != null and keyword != '' ">
				AND LOWER(m_id) like LOWER('%' || #{keyword} || '%')
			</if>
			<if test=" reportResult != null and reportResult != '' ">
				AND report_result = #{reportResult}
			</if>
		</where>
		) b
		) a
		WHERE rn BETWEEN #{start } AND #{end }
	</select>

	<select id="countAdminBegiMeetReportList" resultType="Integer">
		<!-- 신고목록 페이징 카운트 -->
		SELECT count(*)
		FROM report
		<where>
			<if test="keyword != null and keyword != '' ">
				AND LOWER(m_id) like LOWER('%' || #{keyword} || '%')
			</if>
			<if test=" reportResult != null and reportResult != '' ">
				AND report_result = #{reportResult}
			</if>
		</where>
	</select>



	<select id="adminBegiMeetQuestionList" resultType="enquiryVO">
		<!-- 챌린지 문의 목록 전체 조회 -->
		SELECT a.*
		FROM ( SELECT b.*, ROWNUM rn
		FROM
		(SELECT *
		FROM enquiry
		where origin_id like '%meet%'
		<if test="keyword != null and keyword != '' ">
			AND LOWER(m_id) like LOWER('%' || #{keyword} || '%')
			OR LOWER(enq_content) like LOWER('%' || #{keyword} || '%')
		</if>
		<if test=" questionResult == 'waiting' ">
			AND enq_result is null
		</if>
		<if test="questionResult == 'complete' ">
			AND enq_result is not null
		</if>
		) b
		) a
		WHERE rn BETWEEN #{start } AND #{end }
	</select>

	<select id="countAdminBegiMeetQuestionList" resultType="Integer">
		<!-- 챌린지 문의 목록 카운트 -->
		SELECT count(*)
		FROM enquiry
		where origin_id like '%meet%'
		<if test="keyword != null and keyword != '' ">
			AND LOWER(m_id) like LOWER('%' || #{keyword} || '%')
			OR LOWER(enq_content) like LOWER('%' || #{keyword} || '%')
		</if>
		<if test=" questionResult == 'waiting' ">
			AND enq_result is null
		</if>
		<if test="questionResult == 'complete' ">
			AND enq_result is not null
		</if>
	</select>


	<select id="adminEnquiryList" resultType="enquiryVO">
		<!-- 일반 문의 목록 전체 조회 -->
		SELECT a.*
		FROM ( SELECT b.*, ROWNUM rn
		FROM
		(SELECT *
		FROM enquiry
		where
		origin_id like '%admin%'
		<if test="keyword != null and keyword != '' ">
			AND (LOWER(m_id) like LOWER('%' || #{keyword} || '%')
			OR
			LOWER(enq_content) like LOWER('%' || #{keyword} || '%'))
		</if>
		<if test=" questionResult == 'waiting' ">
			AND enq_result is null
		</if>
		<if test="questionResult == 'complete' ">
			AND enq_result is not null
		</if>

		) b
		) a
		WHERE rn BETWEEN #{start } AND #{end }
	</select>

	<select id="countAdminEnquiryList" resultType="Integer">
		<!-- 일반 문의 목록 카운트 -->
		SELECT count(*)
		FROM enquiry
		where origin_id like '%admin%'
		<if test="keyword != null and keyword != '' ">
			AND (LOWER(m_id) like LOWER('%' || #{keyword} || '%')
			OR
			LOWER(enq_content) like LOWER('%' || #{keyword} || '%'))
		</if>
		<if test=" questionResult == 'waiting' ">
			AND enq_result is null
		</if>
		<if test="questionResult == 'complete' ">
			AND enq_result is not null
		</if>
	</select>



</mapper>