<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.vegi.admin.mapper.AdminMapper">

	<select id="adminMemberSelect" resultType="MemberVo">
		<!-- 관리자 멤버 전체 조회 -->
		SELECT a.*
		FROM ( SELECT b.*, ROWNUM rn
		FROM
		(SELECT *
		FROM member
		<where>
			<if
				test="( available == null or available == '') and keyword == null or keyword == '' ">
				AND available in('able','unable')
			</if>
			<if
				test="( available == null or available == '') and keyword != null and keyword != '' ">
				AND m_name like '%' || #{keyword} || '%'
				OR m_id like '%' ||
				#{keyword} || '%'
				AND available in('able','unable')
			</if>
			<if
				test=" available != null and available != '' and (keyword == null or keyword == '') ">
				AND available = #{available}
			</if>
			<if
				test=" available != null and available != '' and keyword != null and keyword != '' ">
				AND ( m_name like '%' || #{keyword} || '%'
				or m_id like '%' ||
				#{keyword} || '%')
				AND available = #{available}
			</if>
		</where>
		) b
		) a
		WHERE rn BETWEEN #{start } AND #{end }
	</select>

	<select id="countMember" resultType="Integer">
		<!-- 회원 목록 페이징에 카운트하는 부분 -->
		SELECT count(*)
		FROM member
		<where>
			<if
				test="( available == null or available == '') and keyword == null or keyword == '' ">
				AND available in('able','unable')
			</if>
			<if
				test="( available == null or available == '') and keyword != null and keyword != '' ">
				AND m_name like '%' || #{keyword} || '%'
				OR m_id like '%' ||
				#{keyword} || '%'
				AND available in('able','unable')
			</if>
			<if
				test=" available != null and available != '' and (keyword == null or keyword == '') ">
				AND available = #{available}
			</if>
			<if
				test=" available != null and available != '' and keyword != null and keyword != '' ">
				AND ( m_name like '%' || #{keyword} || '%'
				or m_id like '%' ||
				#{keyword} || '%')
				AND available = #{available}
			</if>
		</where>
	</select>

	<update id="changAvailable" parameterType="MemberVo">
		<!-- 회원 이용현황 변경 -->
		UPDATE MEMBER SET AVAILABLE = #{available} WHERE m_id = #{mId}
	</update>


	<select id="adminRestaurant" resultType="RestaurantVo">
		<!-- 관리자 식당 전체 조회 -->
		SELECT a.*
		FROM ( SELECT b.*, ROWNUM rn
		FROM
		(SELECT *
		FROM restaurant
		<where>
			<if
				test="keyword != null and keyword != '' ">
				AND rest_name like '%' || #{keyword} || '%'
				OR rest_id like '%' || #{keyword} || '%'
			</if>
			<if
				test=" adminConfirm != null and adminConfirm != '' ">
				AND admin_confirm = #{adminConfirm}
			</if>
		</where>
		) b
		) a
		WHERE rn BETWEEN #{start } AND #{end }
	</select>


	<select id="countAdminRestaurant" resultType="Integer">
	<!-- 회원 목록 페이징에 카운트하는 부분 -->
		SELECT count(*)
		FROM restaurant 
		<where>
			<if
				test="keyword != null and keyword != '' ">
				AND rest_name like '%' || #{keyword} || '%'
				OR rest_id like '%' || #{keyword} || '%'
			</if>
			<if
				test=" adminConfirm != null and adminConfirm != '' ">
				AND admin_confirm = #{adminConfirm}
			</if>
		</where>
	</select>
	
	
	

</mapper>