<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.vegi.biz.mapper.ClassBizMapper">

	<select id="classBizList" resultType="LessonVO">
		SELECT * FROM class
		WHERE
		m_id=#{mId}
		order by c_start desc

	</select>


	<delete id="classBizDelete">
		DELETE FROM class
		WHERE c_id=#{cId}
		
	</delete>
	
	<delete id="enqBizDelete">
		Delete from Enquiry
		where m_Id=#{cId}	
	</delete>



	<update id="classBizUpdate">
		UPDATE class 
		set C_TITLE = #{cTitle},C_IMG = #{cImg},C_DESC= #{cDesc},VEGTYPE= #{vegType},C_PRICE = #{cPrice},
		C_START = #{cStart},C_END = #{cEnd},STATUS = #{status},CURRICULUM = #{curriCulum},C_PARTI = #{cParti},
		C_LOC = #{cLoc},C_TIME = #{cTime}
		where c_id = #{cId}
	</update>

	<select id="classBizNum" resultType="MemberVo">
		SELECT bizNum FROM member
		WHERE m_id=#{mId}
	</select>


	<insert id="classBizInsert">
		<selectKey keyProperty="cId" resultType="String"
			order="AFTER">
			SELECT
			c_seq.currval
			FROM DUAL
		</selectKey>
		INSERT INTO class(
		C_ID, C_TITLE,C_IMG,C_DESC,VEGTYPE,C_PRICE,C_START,
		C_END,STATUS,CURRICULUM,
		M_ID,C_PARTI,C_LOC,BIZNUM,C_TIME,Lec_PROPOSAL, LEC_RESPONSE, LEC_ID
		)
		VALUES(
		'class'||c_seq.nextval,#{cTitle},#{cImg},#{cDesc},#{vegType},#{cPrice},#{cStart},
		#{cEnd},#{status},#{curriCulum},
		#{mId},#{cParti},#{cLoc},#{bizNum},#{cTime},#{lecProposal},#{lecResponse},
		#{lecId}
		)

	</insert>

	<select id="classBizSelect" resultType="LessonVo">
		SELECT * FROM class
		WHERE
		c_id=#{cId}
	</select>



	<update id="myCareerUpdate">
		UPDATE member
		set career = #{career}
		WHERE
		m_id=#{mId}
	</update>




	<select id="getLecList" resultType="MemberVo">

		SELECT M_ID, M_NAME,PROFILE_IMAGE,INSTA,CAREER
		FROM member
		WHERE M_ID in
		(SELECT LEC_ID FROM ClASS WHERE BIZNUM = #{bizNum})

	</select>


	<select id="classEnquiryList" resultType="enquiryVO">
		select * from enquiry
		where origin_Id = #{mId}
	</select>

	<select id="myEnquiryList" resultType="enquiryVO">
		select * from enquiry
		where m_id = #{mId}
	</select>

	<insert id="applyCollabo" >
		insert into enquiry
		(ENQ_NO,
		ORIGIN_ID,
		ENQ_CONTENT,
		ENQ_DATE,
		M_ID)
		values(
		'enq'||enq_seq.nextval,
		#{originId},
		#{enqContent},
		current_date,
		#{mId}			
		)
	</insert>
	
	<update id="enqAccepted">
		UPDATE enquiry
		set enq_Result = #{enqResult},
		enq_pro_date = current_date,
		enq_type = #{enqType}
		WHERE
		enq_no=#{enqNo}
	</update>
	
	
	<update id="lecIdUpdate">
	Update class
	set 
	lec_id = #{lecId},
	status ='개설완료'
	where 
	c_id=#{cId}
	</update>
	
	
	<update id="enqRefused">
		UPDATE enquiry
		set enq_Result = #{enqResult},
		enq_pro_date = current_date,
		enq_type = #{enqType}
		WHERE
		enq_no=#{enqNo}
	</update> 
	<update id="collaboRefused">
	Update class
	set 
	status='강사미정',
	lec_id=null
	where 
	c_id=#{mId}
	</update>

</mapper>