<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.vegi.lesson.mapper.LessonMapper">

<select id="lessonList" resultType="LessonVO">
	SELECT * 
	FROM class
</select>

<select id="lessonSelectOne" resultType="LessonVO">
	SELECT * 
	FROM class
	WHERE c_id = #{cId}
</select>

<update id="lessonHitUpdate" parameterType="LessonVO">
	UPDATE class 
	set c_hit = c_hit + 1
	WHERE c_id = #{cId}	
</update>

</mapper>