<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.vegi.member.mapper.MemberMapper">

	<select id="memberSelect" resultType="com.pj.vegi.vo.MemberVo">
		SELECT
		*
		FROM member
		WHERE
		m_id = #{mId}
	</select>

	<insert id="memberInsert">
		INSERT INTO MEMBER(M_ID, PASSWORD,
		M_NAME,EMAIL,VEGTYPE,AUTH,BIZNUM)
		VALUES(
		#{mId},#{password},#{mName},#{email},#{vegtype},#{auth},#{bizNum}
		)


	</insert>

	<select id="idDuplCheck" resultType="int">
		select Count(*) from member
		where m_id = #{data}
	</select>

	<select id="idSearch" resultType="MemberVo">
		SELECT
		*
		FROM member
		WHERE m_name
		= #{mName} and email = #{email}
	</select>

	<select id="pwSearch" resultType="MemberVo">
		SELECT
		*
		FROM member
		WHERE email =
		#{email} and m_id = #{mId}
	</select>

	<update id="updatePw">
		update member set password = #{password} where m_id =
		#{mId}
	</update>

	<!--네이버 이용자 추가 -->

	<insert id="naverInsert">
		INSERT INTO MEMBER(m_id,m_name,email,PASSWORD,VEGTYPE,AUTH)
		VALUES(#{mId},#{mName},#{email},'0000','비건','user')
		<selectKey keyProperty="password" resultType="String" order="AFTER">
		select password
		from member
		where m_id=#{mId}
		</selectKey>
	</insert>
</mapper>