<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.vegi.mypage.mapper.MypageMapper">

	<!-- 마이페이지 -->
	<select id="myPageSelect" resultType="MemberVo">
		SELECT * FROM member
		WHERE M_ID = #{mId}
	</select>

	<update id="myPageUpdate">
		UPDATE member
		SET password = #{ password,	jdbcType=VARCHAR},
		vegtype = #{ vegtype, jdbcType=VARCHAR},
		profile_image = #{profileImage, jdbcType=VARCHAR}
		WHERE m_id=#{ mId}
	</update>
	
	<!-- 마이페이지의 레시피 -->

	<select id="recipeSelect" resultType="RecipeVo">
		SELECT a.*
		FROM
		( SELECT b.*, ROWNUM rn 
			FROM
				( SELECT * FROM recipe
				WHERE M_ID = #{mId} ) b 
		) a WHERE rn BETWEEN #{start } AND #{end }
		
	</select>

	<!-- <update id="recipeHitUpdate" parameterType="RecipeVo"> UPDATE recipe 
		set r_hit = r_hit + 1 WHERE M_ID = #{m_id} </update> -->

	<!-- 마이페이지의 식당 -->

	<select id="restSelect" resultType="map">
		SELECT a.*
		FROM
		( SELECT b.*, ROWNUM rn 
			FROM
				(SELECT r.rest_id "rId",
				r.REST_NAME "restName", 
				rr.m_id "mId", 
				rr.REST_RESERV_DATE "restReservDate", 
				rr.REST_RESERV_NAME "restReservName", 
				rr.REST_RESERV_PEOPLE "restReservPeople",
				rr.REST_RESERV_STATUS "restReservStatus"
		FROM RESTAURANT r JOIN REST_RESERV rr
		ON r.REST_ID = rr.REST_ID
		WHERE rr.m_id = #{mId} ) b 
		) a WHERE rn BETWEEN #{start } AND #{end }
	</select>
	
	<select id="meetSelect" resultType="map">
		SELECT a.*
		FROM (
		    SELECT b.*, ROWNUM rn 
		    FROM (
		         SELECT m.meet_id "meetId",
		         		m.meet_title "meetTitle", 
						m.meet_start "meetStart", 
						m.meet_end "meetEnd", 
						p.my_fund "myFund", 
						p.today_flag "todayFlag", 
						p.achiv "achiv",
						m.total_day "totalDay",
						trunc ( trunc( ((sysdate ) - m.meet_start)) / m.total_day *100 ) "dayAchiv"
				FROM meet_un m JOIN meet_parti p
				ON m.meet_id = p.meeT_id
				WHERE p.m_id = #{mId}
		          ) b 
		      ) a 
		WHERE rn BETWEEN #{start } AND #{end }
	</select>
	
	<select id="countUntact" resultType="Integer">
		SELECT count(*) FROM(
			SELECT a.*
			FROM (
			    SELECT b.*, ROWNUM rn 
			    FROM (
			         SELECT m.meet_title "meetTitle", 
							m.meet_start "meetStart", 
							m.meet_end "meetEnd", 
							p.my_fund "myFund", 
							p.today_flag "todayFlag", 
							p.achiv "achiv"
					FROM meet_un m JOIN meet_parti p
					ON m.meet_id = p.meeT_id
					WHERE p.m_id = #{mId}
			          ) b 
			      ) a 
			WHERE rn BETWEEN #{start } AND #{end } )
	</select>	
	
	<select id="myCreateMeet" resultType="map">
		SELECT a.*
		FROM (
		    SELECT b.*, ROWNUM rn 
		    FROM (
		        SELECT m.meet_title "meetTitle", 
						m.meet_start "meetStart", 
						m.meet_end "meetEnd", 
						m.meet_participant "meetParticipant", 
						m.meet_fund "meetFund", 
						p.meet_id "meetId", 
						m.total_day "totalDay",
						sum(achiv) "achiv", 
						NVL(sum(achiv)/m.meet_participant,0) "allAchiv",
            			trunc ( trunc( ((sysdate + 1) - m.meet_start)) / m.total_day *100 ) "dayAchiv"  
				FROM meet_un m LEFT OUTER JOIN meet_parti p
				ON m.meet_id = p.meet_id
				WHERE m.m_id = #{mId}
				GROUP BY p.meet_id, m.meet_title, m.meet_start, m.meet_end, m.meet_participant, m.meet_fund, m.total_day
	          ) b 
	      ) a 
		WHERE rn BETWEEN #{start } AND #{end }
	</select>
	
	<select id="countCreateMeet" resultType="Integer">
		SELECT count(*) FROM(
		SELECT a.*
		FROM (
		    SELECT b.*, ROWNUM rn 
		    FROM (
		        SELECT m.meet_title "meetTitle", 
						m.meet_start "meetStart", 
						m.meet_end "meetEnd", 
						m.meet_participant "meetParticipant", 
						m.meet_fund "meetFund", 
						p.meet_id "meetId", 
						sum(achiv) "achiv", 
						sum(achiv)/m.meet_participant "allAchiv"  
				FROM meet_un m JOIN meet_parti p
				ON m.meet_id = p.meet_id
				WHERE m.m_id = #{mId}
				GROUP BY p.meet_id, m.meet_title, m.meet_start, m.meet_end, m.meet_participant, m.meet_fund
	          ) b 
	      ) a 
		WHERE rn BETWEEN #{start } AND #{end })
	</select>
	
	<select id="lessonSelect" resultType="map">
		SELECT a.*
		FROM
		( SELECT b.*, ROWNUM rn 
			FROM
				(SELECT c.c_join "cJoin",
             		 c.c_parti "cParti",
					c.c_id "cId",
					c.c_title "cTitle", 
			 		c.c_start "cStart", 
			 		c.c_end "cEnd",
					c.c_img "cImg", 
					c.c_desc "cDesc", 
					c.status "cStatus", 
					cr.m_id "mId"
				FROM CLASS_RESERV cr JOIN  CLASS c 
				ON cr.c_id = c.c_id
				WHERE cr.m_id = #{mId } ) b 
		) a WHERE rn BETWEEN #{start } AND #{end }
	
	</select>
	
	<select id="countRest" resultType="Integer">
		SELECT count(*) 
		FROM REST_RESERV
		WHERE m_id = #{mId }
	</select>
	
	<select id="countRecipe" resultType="Integer">
		SELECT count(*)
		FROM Recipe
		WHERE m_id = #{mId }
	</select>
	
	<select id="countLesson" resultType="Integer">
		SELECT count(*) FROM (
			SELECT c.c_title "cTitle", 
		 		c.c_start "cStart", 
		 		c.c_end "cEnd",
				c.c_img "cImg", 
				c.c_desc "cDesc", 
				c.status "cStatus", 
				cr.m_id "mId"
			FROM CLASS_RESERV cr JOIN  CLASS c 
			ON cr.c_id = c.c_id
			WHERE cr.m_id = #{mId} )
	</select>
	
	<select id="meetLikeList" resultType="map">
		select m.meet_id "meetId",
				m.meet_title "meetTitle", 
				m.meet_pic "meetPic", 
				li.origin_id "originId", 
				m.meet_start "meetStart", 
				m.meet_end "meetEnd", 
				m.m_id "mId",
				m.meet_fund "meetFund",
				li.like_date
		from like_list li join meet_un m
		on li.origin_id = m.meet_id
		where li.m_id=#{mId}
		order by li.like_date desc
	</select>
	
	<select id="lessonLikeList" resultType="map">
		SELECT c.c_id "cId",
				c.c_title "cTitle", 
				c.c_img "cImg", 
				c.vegtype "vegType", 
				c.c_start "cStart", 
				c.c_end "cEnd", 
				c.status "status", 
				c.c_hit "cHit", 
				li.origin_id "originId",
				li.like_date
		FROM like_list li JOIN class c
		ON li.origin_id = c.c_id
		WHERE li.m_id = #{mId}
		ORDER BY li.like_date desc
	</select>
	
	<delete id="heartCancel">
		DELETE from like_list
		WHERE origin_id = #{originId}
		AND m_id = #{mId}
	</delete>
	
	<select id="recipeLikeList" resultType="map">
		SELECT r.r_id "rId",
				li.origin_id "originId", 
				r.r_title "rTitle", 
				r.r_type "rType", 
				r.r_image "rImage", 
				r.r_hit "rHit", 
				r.m_id "mId",
				li.like_date
		FROM like_list li JOIN recipe r
		ON li.origin_id = r.r_id
		WHERE li.m_id = #{mId}
		ORDER BY li.like_date desc
	</select>
	
	<select id="restLikeList" resultType="map">
		SELECT r.rest_id "rId",
				li.origin_id "originId", 
				r.rest_name "restName", 
				r.rest_address "restAddress", 
				r.rest_pic "restPic", 
				r.rest_tel "restTel", 
				r.rest_review_count "restReviewCount",
				li.like_date
		FROM like_list li JOIN restaurant r
		ON li.origin_id = r.rest_id
		WHERE li.m_id = #{mId}
		ORDER BY li.like_date desc
	</select>

</mapper>