<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.vegi.naver.web.NaverMapper">
	<select id="selectUserById" resultMap="userResultMap">
		select id, username,
		password, email, nickname, mobile from naver_USERS
		where id = #{id}
	</select>

	<select id="selectUserByUserName" resultMap="userResultMap">
		select id, username,
		password, email, nickname, mobile from naver_USERS
		where username =
		#{userName}
	</select>

	<insert id="insertNormalUser" parameterType="User">
		insert into users(username, password, email, nickname, mobile,
		create_date, modify_date )
		values (#{userName}, #{password},#{email},
		#{nickName}, #{mobile}, now(),
		now())
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<select id="selectSnsUserBySnsId" resultMap="snsUserResultMap">
		select a.username,
		a.email,
		a.nickname,
		a.create_date,
		a.modify_date,
		b.sns_id,
		b.sns_type,
		b.sns_name,
		b.sns_profile,
		b.sns_connect_date
		from naver_USERS a,
		sns_info b
		where
		a.id = b.id
		AND b.sns_id = #{snsId}
	</select>
	
	<insert id="insertSnsUser" parameterType="SnsUser">
		insert into
		sns_info(id, sns_id, sns_type, sns_name, sns_profile,
		sns_connect_date)
		values (#{id}, #{snsId}, #{snsType}, #{snsName},
		#{snsProfile}, now() )
	</insert>
</mapper>