<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.vegi.recipe.mapper.RecipeMapper">
	<select id="getRecipeList" resultType="RecipeVo">
		SELECT a.*
		FROM ( SELECT b.*, ROWNUM rn
		FROM
		(SELECT distinct(r.r_id),
		r.r_type,
		r.r_title,
		r.r_date,
		r.r_content,
		r.r_image,
		r.r_hit,
		r.m_id,
		r.c_id,
		r.r_report
		FROM recipe r
		join recipe_material rm
		on r.r_id = rm.r_id
		<where>
			<if test=" RType != null and RType != '' ">
				r.r_type = #{RType}
			</if>
			<if test=" keyword != null and keyword != '' ">
				r.r_title like '%' || #{keyword} || '%'
				OR rm.mat_name like '%' || #{keyword}
				|| '%'
			</if>
		</where>
		) b
		) a
		WHERE rn BETWEEN #{start } AND #{end }

	</select>
	<select id="recipeSelect" resultType="RecipeVo">
		select *
		from recipe
		where
		r_id=#{rId}
	</select>
	<select id="recipeCount" resultType="int">
		select count(*)
		from recipe

	</select>
	<delete id="recipeDelete">
		delete from recipe
		where r_id = #{rId}
	</delete>

	<!-- <insert id="recipeInsert"> insert into recipe (r_id, r_type, r_title, 
		r_content, r_image, m_id, c_id) values ( #{rId), #{rType}, #{rTitle}, #{rContent}, 
		#{rImage}, #{mId}, #{cId} ) </insert> -->
	<update id="recipeUpdate">
		update recipe set
		r_type = #{rType},
		r_title =
		#{rTitle},
		r_content = #{rContent},
		r_image = #{rImage},
		c_id = #{cId}
		where r_id = #{rId}
	</update>

	<select id="searchlessonList" resultType="LessonVO">
		SELECT a.*
		FROM ( SELECT b.*, ROWNUM rn
		FROM
		(SELECT *
		FROM class
		<where>
			<if
				test="( vegType == null or vegType == '') and keyword == null and keyword == '' ">
				and vegType in('비건','락토','오보','락토오보')
			</if>
			<if
				test="(vegType == null or vegType == '') and keyword != null and keyword != '' ">
				and vegType in('비건','락토','오보','락토오보')
				and c_title like '%' ||
				#{keyword} || '%'
			</if>
			<if
				test=" vegType != null and vegType != '' and (keyword == null or keyword == '') ">
				and vegType = #{vegType}
			</if>
			<if
				test=" vegType != null and vegType != '' and keyword != null and keyword != '' ">
				and vegType = #{vegType}
				and c_title like '%' || #{keyword} ||
				'%'
			</if>
		</where>
		) b
		) a
		WHERE rn BETWEEN #{start } AND #{end }
	</select>

	<select id="lessonSearch" resultType="LessonVO">
		select c.c_id "cId",
		c.c_img "cImg",
		c.c_desc "cDesc",
		c.vegtype "vegtype",
		c.c_title
		"cTitle",
		c.c_end "cEnd",
		c.c_time "cTime",
		c.c_price "cPrice",
		c.c_loc
		"cLoc",
		c.status "status",
		m.m_id "mId",
		m.m_name "mName"
		from class c
		,member m
		where c.m_id = m.m_id
		and c.vegtype=#{vegType}
	</select>

	<select id="recipeLessonSearch" resultType="LessonVO">
		select c.c_id "cId", c.c_title "cTitle",c.c_desc "cDesc" ,m.m_name
		"lName"
		from class c join member m
		on c.m_id = m.m_id
		<where>
			<if
				test="( vegType == null or vegType == '') and keyword == null and keyword == '' ">
				and c.vegType in('비건','락토','오보','락토오보')
			</if>
			<if
				test=" (vegType == null or vegType == '') and keyword != null and keyword != '' ">
				and c.vegType in('비건','락토','오보','락토오보')
				and c.c_title like '%'
				|| #{keyword} || '%'
			</if>
			<if
				test=" vegType != null and vegType != '' and (keyword == null or keyword == '') ">
				and c.vegType = #{vegType}
			</if>
			<if
				test=" vegType != null and vegType != '' and keyword != null and keyword != '' ">
				and c.vegType = #{vegType}
				and c.c_title like '%' || #{keyword}
				|| '%'
			</if>
		</where>
	</select>

	<insert id="likeInsert">
		INSERT INTO like_list
		VALUES('like' ||
		like_seq.nextval, #{originId}, current_date, #{mId})
	</insert>

	<delete id="likeDelete">
		DELETE FROM like_list
		WHERE origin_id=#{originId}
		AND
		m_id=#{mId}
	</delete>

	<select id="likeFlagSelect" resultType="int">
		SELECT COUNT(*)
		FROM
		like_list
		WHERE m_id=#{mId}
		AND origin_id=#{originId}
	</select>

</mapper>