<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.vegi.reple.mapper.RepleMapper">

	<select id="read" resultType="com.pj.vegi.vo.RepleVo">
		select * from reple
		where r_id =
		#{rId}
		order by re_id desc
	</select>

	<select id="readAll" resultType="com.pj.vegi.vo.RepleVo">
		SELECT a.*
		FROM ( SELECT b.*, ROWNUM rn
			FROM
				(SELECT r.*, m.m_name, m.profile_image
				FROM reple r JOIN member m
				ON (r.m_id = m.m_id)
				WHERE r.r_id = #{rId}
				START WITH re_parent is null
				CONNECT BY PRIOR re_id=re_parent
				ORDER SIBLINGS BY re_date
				) b
			) a
		WHERE rn BETWEEN #{start } AND #{end }
	</select>


	<insert id="insert">
		insert into reple (re_id,re_content,re_date,
		m_id,r_id, re_depth)
		values('re'||re_seq.nextval,#{reContent},current_date,#{mId},#{rId},#{reDepth} )

	</insert>

	<update id="update">
		update reple set
		re_content = #{reContent}
		where re_id = #{reId}
	</update>

	<delete id="delete">
		delete from reple where re_id = #{reId}
	</delete>

	<select id="getListWithPaging"
		resultType="com.pj.vegi.vo.RepleVo">
		select re_id, re_content,re_date, m_id from reple where r_id = #{rId} order
		by r_id asc
	</select>

	<insert id="repleInsert">
		insert into reple (re_id,re_content,re_date,
		m_id,r_id)
		values('re'||re_seq.nextval,#{reContent},current_date,#{mId},#{rId} )

	</insert>

	<select id="countReple" resultType="int">
		SELECT COUNT(*)
		FROM reple
		WHERE r_id=#{rId}
	</select>
</mapper>