<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.vegi.restaurant.mapper.RestaurantMapper">

	<select id="restSelect" resultType="com.pj.vegi.vo.RestaurantVo">
		SELECT 
		*
		FROM member
		WHERE m_id = #{mId}
	</select>
	
	<insert id="restInsert">
	INSERT INTO MEMBER(M_ID, PASSWORD, M_NAME,EMAIL,VEGTYPE,AUTH) 
			VALUES(
			#{mId},#{password},#{mName},#{email},#{vegtype},#{auth}
			)
	
	
	</insert>
	
	
</mapper>