<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.vegi.vegimeet.mapper.VegimeetMapper">
	<select id="vegimeetList" resultType="VegimeetVo">
		SELECT a.*
		FROM ( SELECT b.*, ROWNUM rn
				FROM
					(SELECT *
					FROM meet_un
					<where>
						<if	test="options == '모집중'">
							<![CDATA[ current_date < meet_start ]]>
						</if>
						<if	test="options == '마감'">
							current_date BETWEEN meet_start AND meet_end
						</if>
						<if	test="options == '종료'">
							<![CDATA[ current_date > meet_end ]]>
						</if>
						<if	test="keyword != null and keyword != '' ">
							AND meet_title like '%' || #{keyword} || '%'
						</if>
					</where>
				) b
			) a
		WHERE rn BETWEEN #{start } AND #{end } 
	</select>

	<select id="getDday" resultType="int">
		SELECT ceil(((select meet_start
		from meet_un where meet_id = #{meetId}) - current_date))
		FROM DUAL
	</select>

	<insert id="likeInsert">
		INSERT INTO like_list
		VALUES('like' ||
		like_seq.nextval, #{originId}, current_date, #{mId})
	</insert>

	<delete id="likeDelete">
		DELETE FROM like_list
		WHERE origin_id=#{originId}
		AND
		m_id=#{mId}
	</delete>

	<select id="likeFlagSelect" resultType="int">
		SELECT COUNT(*)
		FROM
		like_list
		WHERE m_id=#{mId}
		AND origin_id=#{originId}
	</select>

	<select id="vegimeetSelect" resultType="VegimeetVo">
		SELECT *
		FROM meet_un
		WHERE meet_id=#{meetId}
	</select>

	<select id="meetPartiList" resultType="MeetParticipantVo">
		SELECT * FROM meet_parti
		WHERE meet_id=#{meetId}
	</select>

	<insert id="meetPartiInsert">
		INSERT INTO meet_parti(meetp_id, m_id, meet_id,
		my_fund)
		VALUES('meetp' || meetp_seq.nextval, #{mId}, #{meetId},
		#{myFund})
	</insert>

	<update id="meetUpdate">
		UPDATE meet_un
		SET meet_participant = meet_participant
		+ 1,
		meet_fund = meet_fund + #{myFund}
		WHERE meet_id = #{meetId}
	</update>

	<update id="pointDeduct">
		UPDATE member
		SET wallet_point = #{walletPoint},
		wallet_cash = #{walletCash}
		WHERE m_id = #{mId}
	</update>

	<insert id="pointHistoryInsert">
		INSERT INTO wallet_history
		VALUES ('wallet' ||
		wallet_seq.nextval, #{mId}, #{walletMoney}, #{walletType}, current_date)
	</insert>

	<select id="myMeetList" resultType="map">
		SELECT u.meet_title "meetTitle",
			   p.m_id		"mId",
			   u.meet_id	"meetId",
			   u.total_day	"totalDay",
			   p.success	"success",
			   p.achiv		"achiv",
			   u.meet_pic	"meetPic",
			   p.today_flag	"todayFlag"
		FROM meet_un u JOIN meet_parti p
		ON (u.meet_id = p.meet_id)
		WHERE p.m_id=#{mId}
	</select>
	
	<select id="myMeetOne" resultType="map">
		SELECT u.meet_title "meetTitle",
			   p.m_id		"mId",
			   u.meet_id	"meetId",
			   u.total_day	"totalDay",
			   p.success	"success",
			   p.achiv		"achiv",
			   u.meet_pic	"meetPic",
			   p.today_flag	"todayFlag"
		FROM meet_un u JOIN meet_parti p
		ON (u.meet_id = p.meet_id)
		WHERE p.m_id=#{mId}
		AND p.meet_id=#{meetId}
	</select>

	<select id="meetpSelect" resultType="MeetParticipantVo">
		SELECT *
		FROM meet_parti
		WHERE m_id=#{mId} AND meet_id=#{meetId}
	</select>

	<insert id="uploadMeetDataPic">
		INSERT INTO meet_data
		VALUES('meetd' ||
		meetd_seq.nextval, #{meetpId}, #{dataPic}, #{meetId})
	</insert>

	<update id="meetPartiUpdate">
		UPDATE meet_parti
		SET achiv=#{achiv},
		success = success
		+ 1,
		today_flag = 'true'
		WHERE meetp_id = #{meetpId}
	</update>

	<select id="meetDataList" resultType="MeetDataVo">
		SELECT * FROM meet_data
		WHERE meet_id=#{meetId}
	</select>

	<select id="ongoingMeetList" resultType="VegimeetVo">
		SELECT meet_id FROM
		meet_un
		WHERE current_date BETWEEN meet_start and meet_end
	</select>

	<update id="addFailCount">
		UPDATE meet_parti
		SET fail = fail + 1
		WHERE
		meetp_id=#{meetpId}
	</update>

	<update id="allFalseSet">
		UPDATE meet_parti
		SET today_flag = 'false'
		WHERE
		meetp_id=#{meetpId}
	</update>

	<select id="endMeetSelect" resultType="VegimeetVo">
		SELECT * FROM meet_un
		WHERE meet_end = TRUNC(current_date, 'dd') - 1
	</select>

	<update id="cashUpdate">
		UPDATE member
		SET wallet_cash = wallet_cash + #{payBack}
		WHERE m_id=#{mId}
	</update>
	
	<update id="pointUpdate">
		UPDATE member
		SET wallet_point = wallet_point + #{reward}
		WHERE m_id=#{mId}
	</update>
	
	<insert id="vegimeetInsert">
		INSERT INTO meet_un(meet_id, meet_title, meet_start, meet_end, 
							meet_content, m_id, meet_pic, min_money, total_day)
		VALUES('meet' || meet_seq.nextval, #{meetTitle}, #{meetStart}, #{meetEnd},
			#{meetContent}, #{mId}, #{meetPic}, #{minMoney}, #{meetEnd} - #{meetStart} + 1)
	</insert>
	
	<select id="countMeetList" resultType="int">
		SELECT COUNT(*)
		FROM meet_un
			<where>
				<if	test="keyword != null and keyword != '' ">
					meet_title LIKE '%' || #{keyword} || '%'
				</if>
			</where>
	</select>
</mapper>